.gameDiv {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
canvas {
  width: 100%;
  height: 100%;
} 

#divInfo {
  border: black solid 3px;
  background-color: rgba(255,255,255,0.2);
  position: absolute;
  top: 0;
}

#count {
  font-size: 20;
  color: rgb(245 227 255);
  text-shadow: 2px 2px 3px rgb(191 42 255 / 90%);
}

#divEnd {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 15px 3px rgb(199 85 199 / 60%);
    padding: 2% 5%;
    align-self: center;
}

.textResult {
  color: rgb(245 227 255);
  font-family: Arial;
text-shadow: 2px 2px 3px rgb(191 42 255 / 90%);
top:0;
}